*{
    /* margin: 0px;
    padding: 0px; */

}
.heading h2{
    font-size: 25px;
    margin: 20px 120px 15px;
    color: #79236c;
    font-weight:700 ;
    
}


@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;700&display=swap");a {
    color: #79236c;
    text-decoration: none
}

a:hover {
    color: #79236c
}

/* .owl-prev,.owl-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%)
}

.owl-prev {
    left: -12px
}

.owl-next {
    right: -12px
}

.owl-prev .fa,.owl-next .fa {
    font-size: 22px;
    background: transparent
} */

.testimonials {
    padding: 35px 0px 30px;
    background: #f7f7f7
}

#container {
    margin-left: -10px;
    padding-top: 10px
}

.shadow {
    /* width: 425px; */
    /* background-color: #d72827; */
    padding: 10px;
    /* margin-left: 15%;
    margin-right: 15%; */
    margin: auto;
}



.name {
    padding-bottom: 8px;
    font-weight: 700;
    font-size: 16px
}

.name span {
    font-size: 12px;
    color: #949393;
    font-weight: 100;
    display: block
}

.ratings .fa {
    color: #f99438
}


.testi-content {
    margin-top: 5px;
    font-size: 14px;
    line-height: 19px;
   
}
.ellipse{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.testi-content p {
    margin-top: 0;
    margin-bottom: 6px
}
.show-more{
    font-size: 13px;
    color: #ee5c2e;
    position: relative;
}

.show-more:after {
    content: "";
    -ms-flex-item-align: start;
    align-self: flex-start;
    display: inline-block;
    width: 5px;
    height: 5px;
    margin-top: 0px;
    margin-left: 10px;
    border: 1px solid #d72827;
    border-top: none;
    border-right: none;
    background: transparent;
    transform: rotate(-45deg);
    transform-origin: bottom;
    position: absolute;
    bottom: 6px 
}
.show-more:hover{
    color: #79236c;
}

.testi-content p:last-child {
    margin-bottom: 0
}
.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}

/* .container{
    position: absolute;
    top: 10%;
    left: 23%;
    width: 50%;
  }
     */
  .text{
    display: inline;
    width: 100%;
  }
    
  .read-or-hide{
    /* color: rgb(192,192,192); */
    cursor: pointer;
    font-size: 13px;
    color: #ee5c2e;
    position: relative;
    
  }
  .read-or-hide:hover {
    
   color: #79236c;
}

 #more{
    display: none;
 }

.boxx{
    display: flex;
    /* float: left; */
    margin: auto;
    box-sizing: border-box;
    /* margin-left: 5%;
    margin-right: 5%; */
}

.testi-box {
    display: flex;
    padding: 18px 10px;
    min-height: 170px;
    width: 450px;
    /* height: 360px; */
    /* margin: auto; */
    background: #ffffff;
    box-shadow : 0px 3px 6px -3px rgba(0,0,0,0.49)
}

.authorr{
    float: left;
}

@media only screen and (max-width: 900px){
    .boxx{
        display: grid;
    }
}

@media only screen and (max-width: 445px){
    .testi-box{ 
        display: grid;
        width: auto;
        height: auto;
        text-align: center;
    }
    .heading h2 {
        font-size: 25px;
        margin: 15px 70px 15px;
        color: #79236c;
        font-weight: 700;
    }
}

.carousel-indicators > li {
    height:1em;
    width:1em;
    border-radius: 0.5em;
  }
  

.jj{
    height: 310px;
}